<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{#subtitle}}{{subtitle}} - {{/subtitle}}{{title}}</title>
    <meta name="author" content="Joshua Ibrom" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/rss+xml" title="Joshua Ibrom's Blog" href="/rss.xml" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/matifandy8/NeoBrutalismCSS/dist/index.min.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
    {{>header}}
    <main>
        {{content}}
    </main>
    {{>footer}}
</body>

</html>
