@import url("/assets/css/reset.css");

/* nunito-latin-wght-normal */
@font-face {
  font-family: 'Nunito Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
    /* Carbonfox colors from https://github.com/EdenEast/nightfox.nvim/blob/ba47d4b4c5ec308718641ba7402c143836f35aa9/extra/carbonfox/windows_terminal.json */
    --color-cf-background: #161616;
    --color-cf-foreground: #f2f4f8;
    --color-cf-cursorColor: #f2f4f8;
    --color-cf-selectionBackground: #2a2a2a;
    --color-cf-black: #282828;
    --color-cf-blue: #78a9ff;
    --color-cf-cyan: #33b1ff;
    --color-cf-green: #25be6a;
    --color-cf-purple: #be95ff;
    --color-cf-red: #ee5396;
    --color-cf-white: #dfdfe0;
    --color-cf-yellow: #08bdba;
    --color-cf-brightBlack: #484848;
    --color-cf-brightBlue: #8cb6ff;
    --color-cf-brightCyan: #52bdff;
    --color-cf-brightGreen: #46c880;
    --color-cf-brightPurple: #c8a5ff;
    --color-cf-brightRed: #f16da6;
    --color-cf-brightWhite: #e4e4e5;
    --color-cf-brightYellow: #2dc7c4;
    /* End Carbonfox colors */
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    color: var(--color-cf-foreground);
    background-color: var(--color-cf-background);
    font-family: 'Nunito Variable', Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid var(--color-cf-brightGreen);
}

header > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

header h2 {
    margin: 0px;
}

header nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    list-style: none;
    font-size: 1.15rem;
}

header a {
    color: inherit;
    transition: color 250ms ease-in-out;
}

header a:hover {
    color: var(--color-cf-purple);
}

main {
    flex-grow: 1;
}

footer {
    width: 100vw;
    padding: 1rem;
    border-top: 1px solid var(--color-cf-green);
    text-align: center;
}